/src/main/webapp/favicon.ico
/src/main/webapp/index.html
/src/main/webapp/css/
/src/main/webapp/img/
/src/main/webapp/js/
/target/
/src/main/vue/noodle/package-lock.json
/.idea
src/main/vue/noodle/package-lock.json
